$card-width: 18%;


.carous_cars {
    position: relative;
    width: 100%;
    min-height: 350px;
    max-height: 350px;
    perspective: 100px;
    cursor: pointer;
    z-index: 1;
    padding: 0.3rem;
    transition: z-index 0.3s ease-in-out;
    font-family: 'Inter';

    &:hover {
        z-index: 0;

        .card_content .card_overlay {
            z-index: 0;
        }
    }

    .card_content {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);
        border-radius: 11px;

        .main_container {
            position: relative;
            width: 100%;
            height: 100%;

            .image_container {
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: 12px;
                transition: all 0.3s ease-in-out;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                background-color: #0E7B68;

                .author {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    opacity: 0;
                    padding-block: 1rem;

                    .avatar {
                        border-radius: 50%;
                    }
                }
            }
        }

        .card_overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 1.5rem;
            height: 100%;
            border-radius: inherit;
            opacity: 0.9;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background-color: #fff;
            transition: background-image 0.3s ease-in-out;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            .author {
                display: flex;
                align-items: center;
                gap: 12px;
                opacity: 1;

                .avatar {
                    border-radius: 50%;
                }

                .name {
                    font-size: 16px;
                    font-weight: bold;
                    margin: 0;
                }

                .position {
                    font-size: 14px;
                    color: #666;
                    margin: 0;
                }
            }

        }

        &:hover .card_overlay {
            transform: rotate(-2deg);
        }

        &:hover .card_overlay .author {
            opacity: 0;
        }

        &:hover .main_container .image_container {
            bottom: -100px;
            right: 0;
            transform: translate(0, 0);
            opacity: 1;
            rotate: 5deg;
            transition: all 0.3s ease-in-out;
        }

        &:hover .main_container .image_container .author {
            opacity: 1;

        }
    }
}