@import '../../../scss/abstracts/variable.scss';
@import '../../../scss/layout/grid.scss';


.sec_con {
    width: 100%;
    height: auto;
    padding-inline: $layout_row_padding;
    background-color: $color-white;
    padding-block: 3rem;

    .content_Wrapper {
        display: flex;
        align-items: center;
        height: 25rem;

        .details_con {
            flex: 0.45;
        }

        .image_section {
            flex: 0.5;
            height: 100%;
            display: flex;
            justify-content: flex-end;

            .img_wrapper {
                width: 90%;
                height: 100%;
            }
        }


    }
}

@media (max-width: 768px) {
    .sec_con {

        .content_Wrapper {
            height: auto;
        }
    }
}

@media (max-width: 576px) {
    .sec_con {


        .content_Wrapper {
            height: auto;
            flex-direction: column;
        }
    }
}