@import '../../../../scss/abstracts/variable.scss';

.secondary_section {
    width: 100%;
    height: auto;
    padding-inline: 2rem;
    background-color: $color-white;
    margin-block: 6rem;

    .content_Wrapper {
        display: flex;
        align-items: center;

        .details_con {
            flex: 0.45;
        }

        .image_section {
            flex: 0.6;
            height: auto;

            .img_wrapper {
                width: 100%;
                height: 100%;
                border-radius: 12px;

                .image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: inherit;
                }
            }
        }


    }

    .content_Wrapper_reverse {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;

        .details_con {
            flex: 0.45;

        }

        .image_section {
            flex: 0.6;
            height: auto;

            .img_wrapper {
                width: 100%;
                height: 100%;
                border-radius: 12px;

                .image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: inherit;
                }
            }
        }
    }
}

@media (max-width: 748px) {
    .secondary_section {
        .content_Wrapper {
            .image_section {
                flex: 0.6;
                display: none;
                opacity: 0;
            }
        }

        .content_Wrapper_reverse {
            .image_section {
                display: none;
            }
        }
    }
}