@import '../../scss/abstracts/variable.scss';

.call_to_action {
    height: 100vh;
    width: 100%;
    padding-inline: 2rem;
    padding-block-start: 4rem;
    display: flex;
    background-color: $color-white;
    align-items: center;
    justify-content: center;
    font-family: 'inter';

    .call_to_action__container {
        flex: 1;
        height: 90%;
        background-color: #0E7B68;
        display: flex;
        border-radius: 30px;
        padding: 1.5rem;
        // margin-block-end: 2rem;

        .content_wrapper {
            flex: 0.38;
            background-color: antiquewhite;

            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .details_section {
            flex: 0.6 1;
            display: flex;
            align-items: center;
            justify-content: center;

            .con_wrapper {
                padding-inline: 4.3rem;

                .title {
                    font-size: $font-32px;
                    font-family: inherit;
                    font-weight: $font-weight-regular;
                    padding-block-end: 3rem;
                }

            }


        }

        .detailsCon {
            flex: 1;
            padding-inline: 2rem;
            text-align: center;
            display: flex;
            justify-content: center;

            .conWrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding-inline: 4rem;

                .title {
                    font-size: $font-32px;
                    font-family: inherit;
                    font-weight: $font-weight-regular;
                    padding-block-end: 3rem;
                }
            }
        }
    }
}