@import '../../../scss/abstracts//variable.scss';

.main_con {
    height: auto;
    padding-inline: 2rem;
    font-family: 'inter';

    .container_wrp {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block-start: 6rem;

        .img_wrapper {

            flex: 0.37;
            height: 100%;

            .img {
                width: 100%;
                height: 50%;
                border-radius: 10px;

                .image {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    border-radius: inherit;
                }
            }

        }

        .details_con {
            flex: 0.6;

            label {
                background-color: $bg-color-label;
                padding-inline: 1rem;
                font-weight: $font-weight-regular;
                padding-block: 0.5rem;
                border-radius: 20px;
                color: $color-primary ;
                font-size: $font-14px;
            }

            .heading {
                font-size: $font-44px;
                color: $color-heading;
                font-weight: $font-weight-sem-bold;
                padding-block: 1rem;
            }

            .desc {
                font-size: $font-16px05;
                color: $color-des;
                font-weight: $font-weight-regular;
            }
        }

        span {
            font-size: $font-44px;
            color: $color-primary ;
        }
    }

    .img_Stretch_Full {
        flex: 1;
        height: 16rem;
        margin-block: 1rem;

        .img_wrapper {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            padding-block: 0.5rem;

            .fullimage {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: inherit;
            }
        }
    }

}