@import '../../scss/abstracts/variable.scss';

.main_con {
     height: auto;
     width: 100%;
     padding-inline: 2rem;
     padding-block-start: 4.5rem;
     padding-block-end: 0.5rem;
     display: flex;
     background-color: $color-white;

     .image_section {
          flex: 0.42;
          height: auto;

          .image_wrapper {
               padding: 1.5rem;
               width: 100%;
               height: 100%;

               img {
                    width: 100%;
                    height: 100%;
                    border-radius: 8px;
               }
          }
     }

     .image {
          width: 100%;
          height: 100%;
          object-fit: cover;
     }

     .details_section {
          flex: 0.6;

          .con_wrapper {
               height: 100%;
               height: 100%;
               padding-block-end: 1rem;
               padding-block-start: 4rem;
               padding-inline: 1.5rem;
               display: flex;
               flex-direction: column;
               justify-content: space-between;

               .btn_container {
                    width: fit-content;
                    border-radius: 20px;
                    padding-inline: 0.9rem;
                    padding-block: 0.5rem;
                    color: #0e7b68;
                    font-size: 0.875rem;
                    background-color: #ededed;
                    font-weight: $font-weight-sem-bold;
               }

               .heading {
                    font-size: $heading-font-size;
                    width: 95%;
                    line-height: 3.5rem;

                    span {
                         color: #0e7b68;
                    }
               }

               .description {
                    line-height: 1.3rem;
                    color: $color-des;
                    width: 75%;
               }

               .thumb_nailWrapper_con {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    .thumb_nailWrapper {
                         // width: 50%;
                    }
               }
          }
     }
}

@media (max-width: 768px) {
     .main_con {
          height: auto;
          display: flex;
          flex-direction: column;

          .image_section {
               padding-block-start: 4rem;

               .image_wrapper {
                    padding: 0rem;
                    padding-block: 1.5rem;
               }
          }

          .details_section {
               .con_wrapper {
                    padding-block-start: 0rem;
                    padding-inline: 0rem;

                    .heading {
                         width: 100%;
                         padding-block: 2rem;
                    }

                    .description {
                         width: 100%;
                         padding-block-end: 2rem;
                    }
               }
          }
     }
}

@media (max-width: 576px) {
     .main_con {
          height: auto;
          display: flex;
          flex-direction: column;

          .image_section {
               padding-block-start: 4rem;

               .image_wrapper {
                    padding: 0rem;
                    padding-block: 1.5rem;
               }
          }

          .details_section {
               .con_wrapper {
                    padding-block-start: 0rem;
                    padding-inline: 0rem;

                    .heading {
                         width: 100%;
                         padding-block: 2rem;
                    }

                    .description {
                         width: 100%;
                         padding-block-end: 2rem;
                    }
               }
          }
     }
}