/* OverlapImage.module.scss */

.mainContainer {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    .imgWrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .imgWrapper_ab {
            position: absolute
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}