/* OverlapImage.module.scss */

.mainContainer {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    .imgWrapper {
        position: absolute;
        width: 80%;
        height: 90%;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;

        .imgWrapper_ab {
            position: absolute;
            width: 80%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}