@import '../../scss/abstracts/variable.scss';

.main_con {
    width: 100%;
    padding-inline: 2rem;
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    padding-inline-end: 0.5rem;
    display: flex;

    .image_section {
        flex: 0.45 1;
        display: flex;
        align-items: center;
        justify-content: center;

        .image_wrapper {
            padding: 1.5rem;
            height: 20rem;
            width: 25rem;

            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .details_section {
        flex: 0.45 1;

        .con_wrapper {
            padding: 1.5rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .heading {
                font-size: $default-font;
                width: 95%;
                line-height: 3.5rem;
                padding-block-end: 0.5rem;
            }

            .description {
                padding-block-start: 0.5rem;
                line-height: 1.3rem;
                color: $color-des;
                width: 75%;
            }
        }
    }
}

@media (max-width: 768px) {
    .main_con {
        padding-inline: 0rem;
        flex-direction: column-reverse;

        .image_section {

            .image_wrapper {
                width: 100%;
                height: 20rem;
            }
        }

        .details_section {
            .con_wrapper {
                .description {
                    width: 100%;
                }
            }
        }
    }
}