@import '../../scss/abstracts/variable.scss';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.main_con {
    // height: auto;
    // height: 100vh;
    width: 100%;
    padding-inline: 2rem;
    padding-block-start: 5.5rem;
    padding-block-end: 0.5rem;
    display: flex;
    background-color: #F3F5FC;
    font-family: 'inter';

    .image_section {
        flex: 0.6;
        height: auto;
        position: relative;

        .image_wrapper {
            width: 95%;
            height: 95%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            .image_ab_con {
                position: absolute;
                display: flex;
                justify-content: center;

                .img_ab {
                    width: 90%;
                    height: 90%;
                    object-fit: contain;
                }
            }
        }

    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .details_section {
        // flex: 0.6;
        flex: 0.6;

        .con_wrapper {
            height: 100%;
            height: 100%;
            padding-block-end: 1rem;
            padding-block-start: 2rem;
            padding-inline: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.5rem;


            .heading {
                font-size: $heading-font-size;
                width: 95%;
                line-height: 3.5rem;
                font-family: 'DM Sans';
            }

            .description {
                line-height: 1.3rem;
                color: $color-des;
                width: 75%;
                font-weight: $font-weight-regular ;
            }



        }

    }

    &.reverse {
        flex-direction: row-reverse;

        .details_section .con_wrapper .description {
            width: 100%; // Adjust description width for reverse layout
        }
    }
}

@media (max-width: 768px) {
    .main_con {
        flex-direction: column;

        &.reverse {

            flex-direction: column;

            .details_section {
                padding-inline-start: 0rem !important;
            }
        }
    }
}