// COLORS
$color-primary: #0e7b68;
$color-primary-light: #60f3d9;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #fafafa;
$color-grey-light-2: #f9f9f9;

$color-grey-dark: #777;

$color-white: #fff;
$color-black: #000;

$color-heading: #201a2d;
$color-para: #e0e0e0;
$color-des: #6a6a6a;

$sub-heading: #77747f;

// FONT
$default-font-size: 1.6rem;
$default-font: 2rem;
$heading-font-size: 2.8rem;
$section-heading-font-size: 2.5rem;
$sub-heading-font-size: 1.05rem;
$paragraph-font-size: 1.05rem;
$font-16px: 0.9rem;
$font-22px: 1.375rem;
$font-18px: 1.125rem;
$font-32px: 1.875rem;

//FONT-WEIGHT
$font-weight-sem-bold: 600;
$font-weight-bold: 800;
$font-weight-regular: 400;

//PADDING
$layout_row_padding: 2rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
