// COLORS
$color-primary: #0E7B68;
$color-primary-light: #60F3D9;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #FAFAFA;
$color-grey-light-2: #F9F9F9;

$color-grey-dark: #777;

$color-white: #fff;
$color-black: #000;

$color-heading: #201A2D;
$color-para: #E0E0E0;
$color-des: #6A6A6A;
$color-call-to_para: #A8CFC9;
$sub-heading: #77747F;
$bg-color-label: #EDEDED;

// FONT
$default-font-size: 1.6rem;
$default-font : 2rem;
$heading-font-size: 2.5rem;
$sub-heading-font-size: 1.05rem;
$paragraph-font-size: 1.05rem;
$font-14px: 0.875rem;
$font-16px: 0.9rem;
$font-16px05: 1.063rem;
$font-17px: 1.1rem;
$font-22px: 1.375rem;
$font-18px: 1.125rem;
$font-32px: 1.875rem;
$font-37px: 2.323rem;
$font-50px: 3.125rem;
$font-44px: 2.75rem;

//FONT-WEIGHT
$font-weight-sem-bold: 600;
$font-weight-bold: 800;
$font-weight-regular: 400;
$font-weight-medium: 500;



//PADDING
$layout_row_padding: 2.7rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;