@import '../abstracts/variable.scss';
@import './flex.scss';
@import './grid.scss';

.main_container {
    width: 100%;
    height: auto;
    padding-inline: 2rem;
    background-color: $color-grey-light-1;
    padding-block-end: 5rem;
}


@media (max-width: 748px) {
    .main_container {
        padding-block-end: 2rem;
    }
}

@media (max-width: 576px) {
    .main_container {
        padding-block-end: 2rem;

    }
}