.imageDesc_con {
    width: 100%;
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    padding-inline-end: 0.5rem;
    display: flex;
    font-family: 'Inter';
    align-items: center;
    justify-content: center;

    .image_section {
        flex: 0.4;
        display: flex;
        justify-content: center;

        .imageContainer {
            flex: 0.8;
            display: flex;
            border-radius: 10px;
            padding-inline-start: 2rem;

            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: inherit;
            }
        }
    }

    .textContainer {
        flex: 0.4;
    }
}