@import '../../../scss/abstracts/variable.scss';

.container {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    padding-inline: 2rem;

    .imageContainer {
        position: relative;
        flex: 1;
        height: 100%;
        width: 0%;

        .image {
            width: 100%;
            height: 100%;
            border-radius: inherit;
        }
    }

    .textContainer {
        position: absolute;
        flex: 1;
        padding: 2rem;
        display: flex;
        bottom: 0;
        display: flex;
        justify-content: space-between;

        .title {
            flex: 0.4;
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 1rem;
            color: $color-white;
        }

        .description {
            flex: 0.45;
            font-size: 1rem;
            line-height: 1.5;
            color: $color-white;
            padding-inline-end: 1rem;
        }
    }
}