.maincontainer {
     width: fit-content;
     margin-inline: auto;
     background-color: #fff;
     border: 1px solid #e4eaf2;
     padding-inline: 0.2rem 0.3rem;
     border-radius: 9px;
     overflow: hidden;

     input {
          border: none;
          outline: none;
          min-width: 30vw;
          font-size: 1rem;
          padding: 0.75rem 0.575rem;
     }

     button {
          border: none;
          border-radius: 4px;
          background-color: #0e7b68;
          color: #fff;
          font-size: 1rem;
          padding: 0.5rem 1.5rem;
     }
}
