@import '../../../scss/abstracts/variable.scss';
@import '../../../scss/layout/grid.scss';


.main_container {
    width: 100%;
    height: auto;
    padding-inline: 2rem;
    padding-block-end: 5rem;
    padding-block-start: 2.7rem;
    background-color: #EFF6FA;
}