.counterContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding-inline: 2rem;

    .label {
        text-align: left;
        font-size: 0.9rem;
        font-weight: 300;
        color: #DADADA;

    }

    .counterBox {
        display: flex;
        align-items: center;
        background-color: #092019;
        border-radius: 8px;
        // padding: 5px;
        border: 1px solid #0A352E;
        // min-width: 150px;

        .button {
            background-color: #0A352E;
            color: #31A591;
            border: none;
            width: 30px;
            height: 30px;
            font-size: 18px;
            cursor: pointer;
            // border-radius: 6px;

            &:hover {
                background-color: #0c5e50;
            }
        }

        .value {
            background-color: black;
            color: #728380;
            padding: 5px 10px;
            min-width: 40px;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            // border-radius: 6px;
        }
    }
}

@media (max-width: 768px) {
    .counterContainer {
        min-width: 0px;

    }
}