@import '../../../scss/abstracts/variable.scss';

.main_con {
    width: 100%;
    height: 100vh;
    display: flex;
    padding-inline: 2rem;

    .details_section {
        flex: 0.5;
        display: flex;
        justify-content: center;
        align-items: center;

        .details_con {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            .title {
                font-size: $heading-font-size;
                color: $color-heading;
                padding-block-end: 1rem;
            }

            .description {
                font-size: $font-18px;
                color: $color-des;
                padding-block-start: 1rem;
            }
        }
    }

    .utils_section {
        flex: 0.5;
        height: 100%;

        .utlis_wrapper {
            width: 100%;
            height: 100%;

            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

}